
@{
    Layout = "";
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Koparion – Book Shop Bootstrap 4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/~/img/favicon.png">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->

    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
    <!-- animate css -->
    <link rel="stylesheet" href="~/CSS/animate.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="~/CSS/meanmenu.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="~/CSS/owl.carousel.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="~/CSS/font-awesome.min.css">
    <!-- flexslider.css-->
    <link rel="stylesheet" href="~/CSS/flexslider.css">
    <!-- chosen.min.css-->
    <link rel="stylesheet" href="~/CSS/chosen.min.css">
    <!-- style css -->
    <link href="~/CSS/style.css" rel="stylesheet" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/CSS/responsive.css">
    <!-- modernizr css -->
    <script src="~/Scripts/vendor/modernizr-2.8.3.min.js"></script>
    <link href="~/CSS/styles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/JS/fun.js"></script>
    <script>
        $(document).ready(_ => {
            debugger
            var data = @Html.Raw(Json.Encode(ViewBag.listProduct));
            sessionStorage.setItem("listProduct", JSON.stringify(data));
            console.log(data)
        })
    </script>
</head>
<body>
    <!-- header-area-start -->
    <header>
        <!-- header-top-area-start -->
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="language-area">
                            <ul>
                                <li>
                                    <img src="~/img/flag/1.jpg" alt="flag" /><a href="#">English<i class="fa fa-angle-down"></i></a>
                                    <div class="header-sub">
                                        <ul>
                                            <li><a href="#"><img src="~/img/flag/2.jpg" alt="flag" />france</a></li>
                                            <li><a href="#"><img src="~/img/flag/3.jpg" alt="flag" />croatia</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">USD $<i class="fa fa-angle-down"></i></a>
                                    <div class="header-sub dolor">
                                        <ul>
                                            <li><a href="#">EUR €</a></li>
                                            <li><a href="#">USD $</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="account-area text-right">
                            <ul>
                                <li><a href="register.html">My Account</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                @{
                                    var link = ViewBag.linkTitleLogin;
                                    var titleLogin = ViewBag.nameLogin;

                                    if (titleLogin != "Sign In" && titleLogin != null)
                                    {
                                        ViewBag.nameLogin = "Logout";
                                    }
                                    else
                                    {
                                        ViewBag.nameLogin = titleLogin;
                                    }
                                }
                                <li><a href="~/Home/Index">@ViewBag.nameLogin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-top-area-end -->
        <!-- header-mid-area-start -->
        <div class="header-mid-area ptb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                        <div class="header-search">
                            <form action="#">
                                <input type="text" placeholder="Search entire store here..." />
                                <a href="#"><i class="fa fa-search"></i></a>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                        <div class="logo-area text-center logo-xs-mrg">
                            <h3>TTeam coffee</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="my-cart">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-shopping-cart"></i>My Cart</a>
                                    <span id="sl">
                                        0
                                        <script>
                                            debugger
                                            var tmp = JSON.parse(localStorage.getItem('cartList'));
                                            var sl = tmp.reduce((t, item) => {
                                                debugger
                                                return t + parseInt(item.SoLuong);
                                            }, 0);
                                            $('#sl').text(sl);
                                        </script>
                                    </span>

                                    <div class="mini-cart-sub">
                                        <div class="cart-product">
                                            <script>
                                                debugger
                                                var cartList = JSON.parse(localStorage.getItem('cartList'));

                                                for (var item of cartList) {
                                                    debugger
                                                    this.divSingleCart = $('<div>', { class: 'single-cart' }).appendTo($('.cart-product'));

                                                    this.cartImage = $('<div>', { class: "cart-img" }).appendTo(this.divSingleCart);

                                                    this.a = $('<a>').appendTo(this.cartImage);
                                                    this.img = $('<img>', { src: "../" + item.Image }).appendTo(this.a);

                                                    this.divCartinfo = $('<div>', { class: 'cart-info' }).appendTo(this.divSingleCart);
                                                    this.h5 = $('<h5>').appendTo(this.divCartinfo);
                                                    this.a2 = $('<a>', { text: item.Name }).appendTo(this.h5);
                                                    this.p = $('<p>', { text: item.SoLuong + " x " + item.Price }).appendTo(this.divCartinfo);
                                                    this.divCartIcon = $('<div>', { class: 'cart-icon' }).appendTo(this.divSingleCart);
                                                    this.a3 = $('<a>').appendTo(this.divCartIcon);
                                                    this.i = $('<i>').appendTo(this.a3);

                                                }
                                            </script>
                                            <div class="cart-totals">
                                                <h5>Total <span id="total"></span></h5>
                                                <script>
                                                    var tmp = JSON.parse(localStorage.getItem('cartList'));
                                                    var t = tmp.reduce((total, item) => {
                                                        return total + item.Price * item.SoLuong;
                                                    }, 0)

                                                    $('#total').text(t + "đ")
                                                </script>
                                            </div>
                                            <div class="cart-bottom">
                                                <a class="view-cart" href="../Products/viewCart">view cart</a>
                                                <a href="checkout.html">Check out</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-mid-area-end -->
        <!-- main-menu-area-start -->
        <div class="main-menu-area hidden-sm hidden-xs sticky-header-1" id="header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="menu-area">
                            <nav>
                                <ul>
                                    <li class="active">
                                        <a href="../Products/Index">Home<i></i></a>
                                    </li>
                                    <li>
                                        <a href="../Products/Index">Product<i class="fa fa-angle-down"></i></a>
                                        <div class="mega-menu">
                                            <span>
                                                <a href="#" class="title">Jackets</a>
                                                <a href="shop.html">Tops & Tees</a>
                                                <a href="shop.html">Polo Short Sleeve</a>
                                                <a href="shop.html">Graphic T-Shirts</a>
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">blog<i class="fa fa-angle-down"></i></a>
                                        <div class="sub-menu sub-menu-2">
                                            <ul>
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="blog-details.html">blog-details</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">pages<i class="fa fa-angle-down"></i></a>
                                        <div class="sub-menu sub-menu-2">
                                            <ul>
                                                <li><a href="shop.html">shop</a></li>
                                                <li><a href="product-details.html">product-details</a></li>
                                                <li><a href="blog.html">blog</a></li>
                                                <li><a href="blog-details.html">blog-details</a></li>
                                                <li><a href="contact.html">contact</a></li>
                                                <li><a href="about.html">about</a></li>
                                                <li><a href="login.html">login</a></li>
                                                <li><a href="register.html">register</a></li>
                                                <li><a href="cart.html">cart</a></li>
                                                <li><a href="checkout.html">checkout</a></li>
                                                <li><a href="wishlist.html">wishlist</a></li>
                                                <li><a href="404.html">404 Page</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="safe-area">
                            <a href="product-details.html">Sales off</a>
                        </div>
                        <div class="safe-area">
                            <a id="profile" href="../Accounts/Index">Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-menu-area-end -->

    </header>
    <!-- header-area-end -->
    <!-- banner-area-start -->
    <div class="banner-area banner-res-large ptb-35">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="single-banner">
                        <div class="banner-img">
                            <a href="#"><img src="~/img/banner/1.png" alt="banner" /></a>
                        </div>
                        <div class="banner-text">
                            <h4>Free shipping item</h4>
                            <p>For all orders over $500</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="single-banner">
                        <div class="banner-img">
                            <a href="#"><img src="~/img/banner/2.png" alt="banner" /></a>
                        </div>
                        <div class="banner-text">
                            <h4>Money back guarantee</h4>
                            <p>100% money back guarante</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 hidden-sm col-xs-12">
                    <div class="single-banner">
                        <div class="banner-img">
                            <a href="#"><img src="~/img/banner/3.png" alt="banner" /></a>
                        </div>
                        <div class="banner-text">
                            <h4>Cash on delivery</h4>
                            <p>Lorem ipsum dolor consecte</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="single-banner mrg-none-xs">
                        <div class="banner-img">
                            <a href="#"><img src="~/img/banner/4.png" alt="banner" /></a>
                        </div>
                        <div class="banner-text">
                            <h4>Help & Support</h4>
                            <p>Call us : + 0123.4567.89</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*all product start*@
    <div class="new-book-area pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title bt text-center pt-100 mb-30 section-title-res">
                        <h1>
                            All coffee products
                        </h1>
                    </div>
                </div>
            </div>
            <div class="tab-active owl-carousel">
                @{
                    var tmp = 0;
                    var count = ViewBag.count;
                    var data = ViewBag.listProduct;

                    for (int i = 0; i < count; i += 2)
                    {
                        <div class="tab-total">
                            @{
                                for (int j = 0; j <= 1 && tmp < count; j++)
                                {
                                    <div class="product-wrapper mb-40">
                                        <div class="product-img">
                                            <a href="#">
                                                <img src="~/@data[tmp].Image" alt="book" class="primary" />
                                            </a>
                                            <div class="quick-view">
                                                <script>
                                                    function getId(item) {
                                                        console.log(item.id);
                                                        sessionStorage.setItem("currentProduct", item.id)
                                                    }
                                                </script>
                                                <a class="action-view" id=@ViewBag.listProduct[tmp].Id onclick="setWatchingProductId(this)" data-toggle="modal" data-target="#productModal" title="Quick View">
                                                    <i class="fa fa-search-plus"></i>
                                                </a>


                                            </div>
                                            <div class="product-flag">
                                                <ul>
                                                    <li><span class="sale">new</span> </li>
                                                    <li><span class="discount-percentage">-5%</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-details text-center">
                                            <div class="product-rating">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                </ul>
                                            </div>
                                            <h4><a href="#">@ViewBag.listProduct[tmp].Name</a></h4>
                                            <div class="product-price">
                                                <ul>
                                                    <li>@ViewBag.listProduct[tmp].Price đ</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-link">
                                            <div class="product-button">
                                                <a href="#" id=@ViewBag.listProduct[tmp].Id title="Add to cart" onclick="addProductToListCart(this)"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            </div>
                                            <div class="add-to-link">
                                                <ul>
                                                    <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    tmp += 1;
                                }
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <!-- new-book-area-start -->
    @*all products end*@

    <div class="product-area pt-95 xs-mb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center mb-50">
                        <h2>Top interesting</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <!-- tab-menu-start -->
                    <div class="tab-menu mb-40 text-center">
                        <ul>
                            <li class="active"><a href="#Audiobooks" data-toggle="tab">All Products </a></li>
                            <li><a href="#books" data-toggle="tab">OnSale</a></li>
                            <li><a href="#bussiness" data-toggle="tab">Featured Products</a></li>
                        </ul>
                    </div>
                    <!-- tab-menu-end -->
                </div>
            </div>
            <!-- tab-area-start -->
            <div class="tab-content">
                <div class="tab-pane active" id="Audiobooks">
                    <div class="tab-active owl-carousel">
                        @foreach (var item in ViewBag.listProduct)
                        {
                            <div class="product-wrapper">
                                <div class="product-img">
                                    <a href="#">
                                        <img src="~/@item.Image" alt="book" class="primary" />
                                    </a>
                                    <div class="quick-view">
                                        <a class="action-view" href="#" data-target="#productModal" data-toggle="modal" title="Quick View">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                    <div class="product-flag">
                                        <ul>
                                            <li><span class="sale">new</span></li>
                                            <li><span class="discount-percentage">-5%</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <div class="product-rating">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <h4><a href="#">@item.Name</a></h4>
                                    <div class="product-price">
                                        <ul>
                                            <li>@item.Price</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-link">
                                    <div class="product-button">
                                        <a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="add-to-link">
                                        <ul>
                                            <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- single-product-start -->
                        <!-- single-product-end -->
                    </div>
                </div>
            </div>
            <!-- tab-area-end -->
        </div>
    </div>

    <div class="banner-static-area bg ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="banner-shadow-hover xs-mb">
                        <a href="#"><img src="~/img/banner/8.jpg" alt="banner" /></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="banner-shadow-hover">
                        <a href="#"><img src="~/img/banner/9.jpg" alt="banner" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner-static-area-end -->
    <!-- testimonial-area-start -->
    <div class="testimonial-area ptb-100 bg">
        <div class="container">
            <div class="row">
                <div class="testimonial-active owl-carousel">
                    <div class="col-lg-12">
                        <div class="single-testimonial text-center">
                            <div class="testimonial-img">
                                <a href="#"><i class="fa fa-quote-right"></i></a>
                            </div>
                            <div class="testimonial-text">
                                <p>I'm so happy with all of the themes, great support, could not wish for more. These people are <br /> geniuses ! Kudo's from the Netherlands !</p>
                                <a href="#">Sandy Wilcke/user</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-testimonial text-center">
                            <div class="testimonial-img">
                                <a href="#"><i class="fa fa-quote-right"></i></a>
                            </div>
                            <div class="testimonial-text">
                                <p>All Perfect !! I have three sites with magento , this theme is the best !! Excellent support ,<br /> advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you !</p>
                                <a href="#">Sandy Wilcke/user</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial-area-end -->
    <!-- recent-post-area-start -->
    <div class="recent-post-area pt-95 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center mb-30 section-title-res">
                        <h2>Latest from our blog</h2>
                    </div>
                </div>
                <div class="post-active owl-carousel text-center">
                    <div class="col-lg-12">
                        <div class="single-post">
                            <div class="post-img">
                                <a href="#"><img src="~/img/post/1.jpg" alt="post" /></a>
                                <div class="blog-date-time">
                                    <span class="day-time">06</span>
                                    <span class="moth-time">Dec</span>
                                </div>
                            </div>
                            <div class="post-content">
                                <h3><a href="#">Nam tincidunt vulputate felis</a></h3>
                                <span class="meta-author"> Demo Posthemes </span>
                                <p>Discover five of our favourite dresses from our new collection that are destined to be worn and loved immediately.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-post">
                            <div class="post-img">
                                <a href="blog-details.html"><img src="~/img/post/2.jpg" alt="post" /></a>
                                <div class="blog-date-time">
                                    <span class="day-time">06</span>
                                    <span class="moth-time">Dec</span>
                                </div>
                            </div>
                            <div class="post-content">
                                <h3><a href="blog-details.html">Interdum et malesuada</a></h3>
                                <span class="meta-author"> Demo Posthemes </span>
                                <p>Discover five of our favourite dresses from our new collection that are destined to be worn and loved immediately.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-post">
                            <div class="post-img">
                                <a href="blog-details.html"><img src="~/img/post/3.jpg" alt="post" /></a>
                                <div class="blog-date-time">
                                    <span class="day-time">07</span>
                                    <span class="moth-time">Dec</span>
                                </div>
                            </div>
                            <div class="post-content">
                                <h3><a href="blog-details.html">What is Bootstrap?</a></h3>
                                <span class="meta-author"> Demo Posthemes </span>
                                <p>Discover five of our favourite dresses from our new collection that are destined to be worn and loved immediately.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-post">
                            <div class="post-img">
                                <a href="blog-details.html"><img src="~/img/post/4.jpg" alt="post" /></a>
                                <div class="blog-date-time">
                                    <span class="day-time">08</span>
                                    <span class="moth-time">Dec</span>
                                </div>
                            </div>
                            <div class="post-content">
                                <h3><a href="blog-details.html">Etiam eros massa</a></h3>
                                <span class="meta-author"> Demo Posthemes </span>
                                <p>Discover five of our favourite dresses from our new collection that are destined to be worn and loved immediately.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- recent-post-area-end -->
    <!-- social-group-area-start -->
    <div class="social-group-area ptb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="section-title-3">
                        <h3>Latest Tweets</h3>
                    </div>
                    <div class="twitter-content">
                        <div class="twitter-icon">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                        <div class="twitter-text">
                            <p>
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum notare quam
                            </p>
                            <a href="#">posthemes</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="section-title-3">
                        <h3>Stay Connected</h3>
                    </div>
                    <div class="link-follow">
                        <ul>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                            <li class="hidden-sm"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            <li class="hidden-sm"><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- social-group-area-end -->
    <!-- footer-area-start -->
    <footer>
        <!-- footer-top-start -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-top-menu bb-2">
                            <nav>
                                <ul>
                                    <li><a href=".~/Products/Index">home</a></li>
                                    <li><a href="#">Enable Cookies</a></li>
                                    <li><a href="#">Privacy and Cookie Policy</a></li>
                                    <li><a href="#">contact us</a></li>
                                    <li><a href="#">blog</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-top-start -->
        <!-- footer-mid-start -->
        <div class="footer-mid ptb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="single-footer br-2 xs-mb">
                                    <div class="footer-title mb-20">
                                        <h3>Products</h3>
                                    </div>
                                    <div class="footer-mid-menu">
                                        <ul>
                                            <li><a href="about.html">About us</a></li>
                                            <li><a href="#">Prices drop </a></li>
                                            <li><a href="#">New products</a></li>
                                            <li><a href="#">Best sales</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="single-footer br-2 xs-mb">
                                    <div class="footer-title mb-20">
                                        <h3>Our company</h3>
                                    </div>
                                    <div class="footer-mid-menu">
                                        <ul>
                                            <li><a href="contact.html">Contact us</a></li>
                                            <li><a href="#">Sitemap</a></li>
                                            <li><a href="#">Stores</a></li>
                                            <li><a href="../Accounts/Index">My account </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="single-footer br-2 xs-mb">
                                    <div class="footer-title mb-20">
                                        <h3>Your account</h3>
                                    </div>
                                    <div class="footer-mid-menu">
                                        <ul>
                                            <li><a href="contact.html">Addresses</a></li>
                                            <li><a href="#">Credit slips </a></li>
                                            <li><a href="#"> Orders</a></li>
                                            <li><a href="#">Personal info</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="single-footer mrg-sm">
                            <div class="footer-title mb-20">
                                <h3>STORE INFORMATION</h3>
                            </div>
                            <div class="footer-contact">
                                <p class="adress">
                                    <span>My Company</span>
                                    42 avenue des Champs Elysées 75000 Paris France
                                </p>
                                <p><span>Call us now:</span> (+1)866-540-3229</p>
                                <p><span>Email:</span>  support@hastech.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-mid-end -->
        <!-- footer-bottom-start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row bt-2">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="copy-right-area">
                            <p>Copyright ©<a href="#">Koparion</a>. All Right Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="payment-img text-right">
                            <a href="#"><img src="~/img/1.png" alt="payment" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom-end -->
    </footer>
    <!-- footer-area-end -->
    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">

                <script>
                    debugger
                    var currentProduct = JSON.parse(sessionStorage.getItem('currentProduct'));
                    var listProduct = JSON.parse(sessionStorage.getItem('listProduct'));

                    if (currentProduct == 'undefined' && listProduct == 'undefined') {
                        return;
                    }
                    currentProduct = listProduct.filter(item => {
                        item.id == currentProduct;
                    })
                    console.log(currentProduct[0]);

                </script>

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="modal-tab">
                                    <div class="product-details-large tab-content">
                                        <div class="tab-pane active" id="image-1">
                                            <img id="img1" class="Image1" />
                                        </div>
                                        <div class="tab-pane" id="image-2">
                                            <img id="img2" class="Image1" />
                                        </div>
                                        <div class="tab-pane" id="image-3">
                                            <img id="img3" class="Image1" />
                                        </div>
                                        <div class="tab-pane" id="image-4">
                                            <img id="img4" class="Image1" />
                                        </div>
                                    </div>
                                    <div class="product-details-small quickview-active owl-carousel">
                                        <a class="active" href="#image-1"><img id="img5" class="Image2" /></a>
                                        <a href="#image-2"><img id="img6" class="Image2" /></a>
                                        <a href="#image-3"><img id="img7" class="Image2" /></a>
                                        <a href="#image-4"><img id="img8" class="Image2" /></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="modal-pro-content">
                                    <h3 id="productName"></h3>
                                    <div class="price">
                                        <span id="price"></span>
                                    </div>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>
                                    <div class="quick-view-select">
                                        <div class="select-option-part">
                                            <label>Size*</label>
                                            <select class="select">
                                                <option value="">M</option>
                                                <option value="">L</option>
                                            </select>
                                        </div>

                                    </div>
                                    <form action="#">
                                        <input type="number" id="slMua" />
                                        <button id="" onclick="addToCart()">Add to cart</button>
                                    </form>
                                    <span><i class="fa fa-check"></i> In stock</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @*<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <script>
                    debugger
                    var currentProduct = JSON.parse(sessionStorage.getItem('currentProduct'));
                    var listProduct = JSON.parse(sessionStorage.getItem('listProduct'));

                    if (currentProduct == 'undefined' && listProduct == 'undefined') {
                        return;
                    }
                    currentProduct = listProduct.filter(item => {
                        item.id == currentProduct;
                    })
                    console.log(currentProduct[0]);

                </script>
                <div class="modal-content">
                </div>
            </div>
        </div>*@

    <!-- Modal end -->
    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="~/Scripts/vendor/jquery-1.12.0.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <!-- meanmenu js -->
    <script src="~/Scripts/jquery.meanmenu.js"></script>
    <!-- wow js -->
    <script src="~/Scripts/wow.min.js"></script>
    <!-- jquery.parallax-1.1.3.js -->
    <script src="~/Scripts/jquery.parallax-1.1.3.js"></script>
    <!-- jquery.countdown.min.js -->
    <script src="~/Scripts/jquery.countdown.min.js"></script>
    <!-- jquery.flexslider.js -->
    <script src="~/Scripts/jquery.flexslider.js"></script>
    <!-- chosen.jquery.min.js -->
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <!-- jquery.counterup.min.js -->
    <script src="~/Scripts/jquery.counterup.min.js"></script>
    <!-- waypoints.min.js -->
    <script src="~/Scripts/waypoints.min.js"></script>
    <!-- plugins js -->
    <script src="~/Scripts/plugins.js"></script>
    <!-- main js -->
    <script src="~/Scripts/main.js"></script>
</body>
</html>
