@{
    Layout = "";
}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="~/JS/requestData.js"></script>
    <script src="~/JS/popup.js"></script>

    <!-- Le styles -->
    <link href="~/assets/css/lib/bootstrap.css" rel="stylesheet">
    <link href="~/assets/css/lib/bootstrap-responsive.css" rel="stylesheet">
    <link href="~/assets/css/boo-extension.css" rel="stylesheet">
    <link href="~/assets/css/boo.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/boo-coloring.css" rel="stylesheet">
    <link href="~/assets/css/boo-utility.css" rel="stylesheet">

    <link href="~/assets/css/w2ui-1.5.rc1.min.css" rel="stylesheet" />
    <script src="~/assets/js/w2ui-1.5.rc1.min.js"></script>
    <link href="~/assets/css/w2ui-1.5.rc1.css" rel="stylesheet" />
    <script src="~/assets/js/w2ui-1.5.rc1.js"></script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="~/assets/plugins/selectivizr/selectivizr-min.js"></script>
        <script src="~/assets/plugins/flot/excanvas.min.js"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="~/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body class="sidebar-left ">
    <div class="page-container">
        <div id="header-container">
            <div id="header">
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                            <a class="brand" href="javascript:void(0);"><img src="~/assets/img/demo/logo-brand.png"></a>
                            <div class="search-global">
                                <input id="globalSearch" class="search search-query input-medium" type="search">
                                <a class="search-button" href="javascript:void(0);"><i class="fontello-icon-search-5"></i></a>
                            </div>
                            <div class="nav-collapse collapse">
                                <ul class="nav user-menu visible-desktop">
                                    <li><a class="btn-glyph fontello-icon-edit tip-bc" href="javascript:void(0);" title="Messages"><span class="badge badge-important">8</span></a></li>
                                    <li><a class="btn-glyph fontello-icon-mail-1 tip-bc" href="javascript:void(0);" title="Emails"></a></li>
                                    <li><a class="btn-glyph fontello-icon-lifebuoy tip-bc" href="javascript:void(0);" title="Support"><span class="badge badge-important">4</span></a></li>
                                </ul>
                                <ul class="nav">
                                    <li> <a href="dashboard-one.html">Dashboard</a> </li>
                                    <li class="active"> <a href="javascript:void(0);">Components</a> </li>
                                    <li> <a href="component-fullcalendar-demo.html"><span class="fontello-icon-calendar"></span>Calendar</a> </li>
                                    <li> <a href="javascript:void(0);"><span class="fontello-icon-users"></span>Contacts</a> </li>
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><span class="fontello-icon-list-1"></span>Customize <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="component-form-demo.html">Demo Form</a></li>
                                            <li><a href="component-widgets-remember.html">Remember</a></li>
                                            <li><a href="component-widgets-users.html">User List</a></li>
                                            <li class="divider"></li>
                                            <li class="nav-header">Next Update</li>
                                            <li><a href="javascript:void(0);">Contacts</a></li>
                                            <li><a href="javascript:void(0);">Email</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // navbar -->

                <div class="header-drawer">
                    <div class="mobile-nav text-center visible-phone"> <a href="javascript:void(0);" class="mobile-btn" data-toggle="collapse" data-target=".sidebar"><i class="aweso-icon-chevron-down"></i> Components</a> </div>
                    <!-- // Resposive navigation -->
                    <div class="breadcrumbs-nav hidden-phone">
                        <ul id="breadcrumbs" class="breadcrumb">
                            <li><a href="javascript:void(0);"><i class="fontello-icon-home f12"></i> Dashboard</a> <span class="divider">/</span></li>
                            <li class="dropdown">
                                <a href="javascript:void(0);">Table </a> <span class="divider">/</span>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);">Table</a></li>
                                    <li><a href="javascript:void(0);">Elements</a></li>
                                    <li><a href="javascript:void(0);">Elements</a></li>
                                    <li><a href="javascript:void(0);">Elements</a></li>
                                </ul>
                            </li>
                            <li class="active">Boo Admin </li>
                        </ul>
                    </div>
                    <!-- // breadcrumbs -->
                </div>
                <!-- // drawer -->
            </div>
        </div>
        <!-- // header-container -->

        <div id="main-container">
            <div id="main-sidebar" class="sidebar sidebar-inverse">
                <div class="sidebar-item">
                    <div class="media profile">
                        <div class="media-thumb media-left thumb-bordereb"> <a class="img-shadow" href="javascript:void(0);"><img class="thumb" src="~/assets/img/demo/demo-avatar9604.jpg"></a> </div>
                        <div class="media-body">
                            <h5 class="media-heading"> @ViewBag.nameLogin <small>as Administrator</small></h5>
                            @*<p class="data">Last Access: 16 May 15:30</p>*@
                        </div>
                    </div>
                </div>
                <!-- // sidebar item - profile -->

                <ul id="mainSideMenu" class="nav nav-list nav-side">
                    <li class="accordion-group">
                        <div class="accordion-heading"> <a href="#accDash" data-parent="#mainSideMenu" data-toggle="collapse" class="accordion-toggle"> <span class="item-icon fontello-icon-monitor"></span> <i class="chevron fontello-icon-right-open-3"></i> Dashboards </a> </div>
                        <ul class="accordion-content nav nav-list collapse" id="accDash">
                            <li> <a href="dashboard-one.html"> <i class="fontello-icon-right-dir"></i> <span class="hidden-tablet">Dashboard</span> Demo 1 </a> </li>
                            <li> <a href="dashboard-two.html"> <i class="fontello-icon-right-dir"></i> <span class="hidden-tablet">Dashboard</span> Demo 2 </a> </li>
                        </ul>
                    </li>
                    <!-- // item accordionMenu Dashboard -->
                    <li class="accordion-group">
                        <div class="accordion-heading">
                            <a href="/Home/EditProduct" data-parent="#mainSideMenu" class="accordion-toggle">
                                <span class="item-icon aweso-icon-list-alt"></span>
                                Manager
                            </a>
                        </div>
                    </li>

                </ul>
                <!-- // sidebar menu -->

                <div class="sidebar-item"></div>
                <!-- // sidebar item -->

            </div>
            <!-- // sidebar -->

            <div id="main-content" class="main-content container-fluid">
                <div class="row-fluid page-head">
                    <h2 class="page-title">
                        <i class="aweso-icon-table"></i> Management Page
                    </h2>
                    <div class="page-bar">
                        <div class="btn-toolbar"> </div>
                    </div>
                </div>
                <!-- // page head -->

                <div id="page-content" class="page-content">
                    <section>
                        <div class="page-header">
                            <h3>
                                <i class="aweso-icon-table opaci35"></i>Product Management
                            </h3>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <div id="grid" class="widget widget-simple widget-table" style="width: 100%; height: 250px;"></div>
                                <br>
                                <button class="w2ui-btn" onclick="w2ui.grid.selectAll();">Select All</button>
                                <button class="w2ui-btn" onclick="w2ui.grid.selectNone();">Select None</button>
                                <button class="w2ui-btn" onclick="editProduct();">Edit product</button>
                                <button class="w2ui-btn" onclick="addProduct();">Add product</button>
                                <button class="w2ui-btn" onclick="removeProduct();">Remove product</button>

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="addImages();">Add Images</button>
                                <script>
                                    @*var products = @Html.Raw(Json.Encode(ViewBag.listProduct));
                                    var listCategory = @Html.Raw(Json.Encode(ViewBag.listCategory));*@

                                    showProducts()
                                   
                                    @*var products = @Html.Raw(Json.Encode(ViewBag.listProduct));
                                    var listCategory = @Html.Raw(Json.Encode(ViewBag.listCategory));

                                    sessionStorage.setItem('listCategory', JSON.stringify(listCategory));

                                    for (var item of products) {
                                        delete item['Image'];
                                        item.recid = item.Id;
                                        delete item['Id'];
                                    }
                                    console.log(products)
                                    console.log(listCategory)
                                    $('#grid').w2grid({
                                        name: 'grid',
                                        show: {
                                            toolbar: true,
                                            footer: true
                                        },
                                        multiSearch: true,
                                        searches: [
                                            { field: 'recid', caption: 'ID ', type: 'text' },
                                            { field: 'Id_Category', caption: 'ID Category', type: 'text' },
                                            { field: 'Name', caption: 'Name product', type: 'text' },
                                            { field: 'Price', caption: 'Price', type: 'int' },
                                            { field: 'Description', caption: 'Description', type: 'text' },
                                            { field: 'Quantity', caption: 'Quantity', type: 'int' }
                                        ],
                                        columns: [
                                            { field: 'recid', caption: 'ID', size: '50px', sortable: true, size: '10%' },
                                            { field: 'Id_Category', caption: 'ID Category', size: '10%', sortable: true },
                                            { field: 'Name', caption: 'Name product', size: '20%', sortable: true },
                                            { field: 'Price', caption: 'Price', size: '10%', sortable: true },
                                            { field: 'Description', caption: 'Description', size: '60%' },
                                            { field: 'Quantity', caption: 'Quantity', size: '8%' }
                                        ],
                                        records: products
                                    });

                                    function addProduct() {
                                        debugger
                                        popupAddProduct();
                                    }

                                    function addImages() {
                                        var productSelected = w2ui['grid'].getSelection();
                                        if (productSelected.length > 1 || productSelected.length < 1) {
                                            alert('Please choice a product !');
                                            return;
                                        }

                                        sessionStorage.setItem("currentProduct", productSelected)


                                    }

                                    function editProduct() {
                                        var productSelected = w2ui['grid'].getSelection();
                                        if (productSelected.length > 1 || productSelected.length < 1) {
                                            alert('Please choice a product !');
                                            return;
                                        }

                                        var infoProductSelected = w2ui['grid'].records.filter(item => {
                                            return item.recid == productSelected;
                                        })
                                        debugger
                                        console.log(infoProductSelected);

                                        sessionStorage.setItem('idProductCurrent', infoProductSelected[0].recid);

                                        popupEditProduct(infoProductSelected);
                                    }

                                    function removeProduct() {
                                        var productSelected = w2ui['grid'].getSelection();
                                        sessionStorage.setItem('idProductCurrent', productSelected);
                                        showConfirmRemove();
                                    }*@
                                </script>

                            </div>
                            <!-- // Widget -->

                        </div>
                        <!-- // Column -->
                    </section>
                </div>
                <!-- // Example row -->

                <div class="row-fluid page-head">
                    <h2 class="page-title">
                        <i class="aweso-icon-table"></i> Coupon Page
                    </h2>
                    <div class="page-bar">
                        <div class="btn-toolbar"> </div>
                    </div>
                </div>

                <div id="page-content" class="page-content">
                    <section>
                        <div class="page-header">
                            <h3>
                                <i class="aweso-icon-table opaci35"></i>Coupon Management
                            </h3>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <div id="gird_code" class="widget widget-simple widget-table" style="width: 100%; height: 250px;"></div>
                                <br>
                                <button class="w2ui-btn" onclick="w2ui.gird_code.selectAll();">Select All</button>
                                <button class="w2ui-btn" onclick="w2ui.gird_code.selectNone();">Select None</button>
                                <button class="w2ui-btn" onclick="editCoupon();">Edit Coupon</button>
                                <button class="w2ui-btn" onclick="addCoupon()">Add Coupon</button>
                                <script type="text/javascript">
                                    var discount_code = @Html.Raw(Json.Encode(ViewBag.listDiscount_Code));

                                    console.log(discount_code)

                                    for (var index = 0; index < discount_code.length; index++) {
                                        discount_code[index].recid = index + 1;
                                    }

                                    sessionStorage.setItem('listdiscount_code', JSON.stringify(discount_code));

                                    $('#gird_code').w2grid({
                                        name: 'gird_code',
                                        show: {
                                            toolbar: true,
                                            footer: true
                                        },
                                        multiSearch: true,
                                        searches: [
                                            { field: 'recid', caption: 'ID ', type: 'text' },
                                            { field: 'Code', caption: 'ID Code', type: 'text' },
                                            { field: 'Disc_Percent', caption: 'Percent', type: 'int' },
                                            { field: 'Date_Start', caption: 'Date start', type: 'date', render: 'date:yyyy.mm.dd'  },
                                            { field: 'Date_End', caption: 'Date end', type: 'date', render: 'date:yyyy.mm.dd' }
                                        ],
                                        columns: [
                                            { field: 'recid', caption: 'ID', size: '50px', sortable: true, size: '10%' },
                                            { field: 'Code', caption: 'Code', size: '30%', sortable: true },
                                            { field: 'Disc_Percent', caption: 'Percent', size: '10%', sortable: true },
                                            { field: 'Date_Start', caption: 'Date start', size: '25%' },
                                            { field: 'Date_End', caption: 'Date end', size: '25%' },
                                        ],
                                        records: discount_code
                                    });

                                    function addCoupon() {
                                        debugger
                                        popupAddCode();
                                    }

                                    function editCoupon() {
                                        var couponSelected = w2ui['gird_code'].getSelection();
                                        if (couponSelected.length > 1 || couponSelected.length < 1) {
                                            alert('Please choice a Coupon !');
                                            return;
                                        }

                                        var infoProductSelected = w2ui['gird_code'].records.filter(item => {
                                            return item.recid == couponSelected;
                                        })
                                        debugger
                                        console.log(infoProductSelected);

                                        sessionStorage.setItem('idCouponCurrent', infoProductSelected[0].recid);

                                        popupEditCoupon(infoProductSelected);
                                    }

                                    function removeCoupon() {
                                        var productSelected = w2ui['gird_code'].getSelection();
                                        sessionStorage.setItem('idCouponCurrent', productSelected);
                                        showConfirmRemoveCoupon();
                                    }
                                </script>

                            </div>
                            <!-- // Widget -->

                        </div>
                        <!-- // Column -->
                    </section>
                </div>
            </div>
            <!-- // page content -->

        </div>
        <!-- // main-content -->

    </div>
    <!-- // main-container  -->

    <footer id="footer-fix">
        <div id="footer-sidebar" class="footer-sidebar">
            <div class="navbar">
                <div class="btn-toolbar"> <a class="btn btn-glyph btn-link" href="javascript:void(0);"><i class="fontello-icon-up-open-1"></i></a> </div>
            </div>
        </div>
        <!-- // footer sidebar -->

        <div id="footer-content" class="footer-content">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <ul class="nav pull-left">
                        <li class="divider-vertical hidden-phone"></li>
                        <li><a id="btnToggleSidebar" class="btn-glyph fontello-icon-resize-full-2 tip hidden-phone" href="javascript:void(0);" title="show hide sidebar"></a></li>
                        <li class="divider-vertical hidden-phone"></li>
                        <li><a id="btnChangeSidebar" class="btn-glyph fontello-icon-login tip hidden-phone" href="javascript:void(0);" title="change sidebar position"></a></li>
                        <li class="divider-vertical"></li>
                        <li><a id="btnChangeSidebarColor" class="btn-glyph fontello-icon-palette tip" href="javascript:void(0);" title="change sidebar color"></a></li>
                        <li class="divider-vertical"></li>
                        <li><a class="btn-glyph fontello-icon-cw" href="javascript:void(0);"></a></li>
                        <li class="divider-vertical"></li>
                        <li><a class="fontello-icon-home-3" href="dashboard-one.html"></a></li>
                        <li class="divider-vertical"></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li><a class="btn-glyph fontello-icon-help-2 tip" href="javascript:void(0);" title="help to page"></a></li>
                        <li class="divider-vertical"></li>
                        <li><a class="btn-glyph fontello-icon-cog-4 tip" href="javascript:void(0);" title="settings app"></a></li>
                        <li class="divider-vertical"></li>
                        <li><a id="btnLogout" class="btn-glyph fontello-icon-logout-1 tip" href="javascript:void(0);" title="logout"></a></li>
                        <li class="divider-vertical"></li>
                        <li><a id="btnScrollup" class="scrollup btn-glyph fontello-icon-up-open-1" href="javascript:void(0);"><span class="hidden-phone">Scroll</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- // footer content -->

    </footer>
    <!-- // footer-fix  -->
    </div>
    <!-- // page-container  -->
    <!-- hide inject elements-->
    <div class="hide">
        <!-- inject to DTB Table -->
        <div class="DTB_toolBar">
            <ul class="btn-toolbar pull-right">
                <li><a class="btn btn-glyph"><i class="fugue-table"></i></a></li>
                <li><a class="btn btn-glyph"><i class="fugue-table-pencil"></i> Table</a></li>
                <li><a class="btn btn-glyph"><i class="fugue-table-plus"></i></a></li>
                <li class="divider-vertical"></li>
                <li><a class="btn btn-glyph"><i class="fugue-table-export"></i></a></li>
                <li><a class="btn btn-glyph"><i class="fugue-table-excel"></i></a></li>
                <li class="divider-vertical"></li>
            </ul>
        </div>
        <!-- // inject -->

        <div class="DTB_resetTable">
            <ul class="btn-toolbar pull-right">
                <li class="divider-vertical"></li>
                <li><a href="javascript:void(0)" class="btn"><i class="fugue-arrow-circle"></i></a></li>
            </ul>
        </div>
        <!-- // inject -->
        <!-- inject to DTC Table -->
        <div class="DTC_resetTable">
            <ul class="btn-toolbar pull-right">
                <li class="divider-vertical"></li>
                <li><a href="javascript:void(0)" class="btn btn-grey"><i class="fugue-arrow-circle"></i></a></li>
            </ul>
        </div>
        <div id="DTC_toolBar">
            <ul class="btn-toolbar pull-left">
                <li><a class="btn btn-glyph"><i class="fugue-table"></i></a></li>
                <li><a class="btn btn-glyph"><i class="fugue-table-pencil"></i></a></li>
                <li><a class="btn btn-glyph"><i class="fugue-table-plus"></i></a></li>
                <li class="divider-vertical"></li>
                <li><a class="btn btn-glyph"><i class="fugue-table-export"></i></a></li>
                <li><a class="btn btn-glyph"><i class="fugue-table-excel"></i></a></li>
            </ul>
            <div class="btn-toolbar pull-right margin-00"> <a href="javascript:void(0)" class="btn btn-green ">NEW Contact</a> </div>
        </div>
        <div id="DTC_actionTable">
            <div class="btn-toolbar">
                <div class="action-select-wraper">
                    <select name="actionTable" id="actionTable" class="selectpicker">
                        <option value="">Select action...</option>
                        <option value="validate">Validate</option>
                        <option value="delete">Export</option>
                        <option value="archiv">Archiv</option>
                    </select>
                    <button type="submit" class="btn btn-blue">Action</button>
                </div>
            </div>
        </div>
        <!-- // inject -->
        <!-- inject to DTCF Table -->
        <div id="DTCF_toolBar">
            <ul class="btn-toolbar pull-right">
                <li>
                    <button class="btn check-all" data-tableid="exampleDTCF">Check All</button>
                </li>
                <li>
                    <button class="btn check-view" data-tableid="exampleDTCF">Check View</button>
                </li>
                <li>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn dropdown-toggle">Action <span class="fontello-icon-down-open"></span></button>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="#"><i class="fugue-table-import"></i><span class="divider-text"></span> Import Data</a></li>
                            <li><a href="#"><i class="fugue-table-export"></i><span class="divider-text"></span> Export Data</a></li>
                            <li><a href="#"><i class="fugue-table-excel"></i><span class="divider-text"></span> Export to Excel</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fugue-table-plus"></i><span class="divider-text"></span> Add New</a></li>
                            <li><a href="#"><i class="fugue-table-share"></i><span class="divider-text"></span> Share Table</a></li>
                        </ul>
                    </div>
                </li>
                <li class="divider-vertical"></li>
                <li><a href="javascript:void(0)" class="btn btn-green ">NEW Order</a></li>
                <li class="divider-vertical"></li>
                <li><a href="javascript:void(0)" class="btn"><i class="fugue-arrow-circle"></i></a></li>
            </ul>
        </div>
        <div id="DTCF_actionTable">
            <div class="btn-toolbar pull-left">
                <div class="action-select-wraper">
                    <span class="arrow-table-action"></span>
                    <select name="actionTableDTCF" id="actionTableDTCF" class="selectpicker">
                        <option value="">Action for selected...</option>
                        <option value="validate">Validate</option>
                        <option value="delete">Delete</option>
                    </select>
                    <button type="submit" class="btn">Perform the action</button>
                </div>
            </div>
        </div>
        <!-- // inject -->
        <!-- inject to DTCV Table -->
        <div id="DTSC_header_title">
            <h4>2500 Entries</h4>
        </div>

        @*<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" , id = "1"}))
                    {
                        <div>
                            @Html.TextBox("file", "", new { type = "file" }) <br />
                            <input type="submit" value="Upload" />
                            @ViewBag.Message
                        </div>
                    }
                </div>
            </div>
        </div>*@

        @* add image *@
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content"> 
                    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div>
                            <label style="font-size : 20px; color:white " >Id sản phẩm :</label>
                            <input type="text" id="idProduct" name="productId" />
                            <script>
                                setInterval(_ => {
                                    $('#idProduct').val(sessionStorage.getItem("currentProduct")); 
                                },100) 
                            </script>
                            @Html.TextBox("file", "", new { type = "file" }) <br />
                            <input type="submit" value="Upload" />
                            @ViewBag.Message
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/assets/js/lib/jquery.js"></script>
    <script src="~/assets/js/lib/jquery-ui.js"></script>
    <script src="~/assets/js/lib/jquery.cookie.js"></script>
    <script src="~/assets/js/lib/jquery.date.min.js"></script>
    <script src="~/assets/js/lib/jquery.mousewheel.js"></script>
    <script src="~/assets/js/lib/jquery.load-image.min.js"></script>
    <script src="~/assets/js/lib/bootstrap/bootstrap.js"></script>

    <!-- Plugins Bootstrap -->
    <script src="~/assets/plugins/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.min.js"></script>
    <script src="~/assets/plugins/bootstrap-wysihtml5/src/bootstrap-wysihtml5.js"></script>
    <script src="~/assets/plugins/bootstrap-fuelux/js/all-fuelux.min.js"></script>
    <script src="~/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/assets/plugins/bootstrap-daterangepicker/js/bootstrap-daterangepicker.js"></script>
    <script src="~/assets/plugins/bootstrap-toggle-button/js/bootstrap-toggle-button.js"></script>
    <script src="~/assets/plugins/bootstrap-fileupload/js/bootstrap-fileupload.js"></script>
    <script src="~/assets/plugins/bootstrap-rowlink/js/bootstrap-rowlink.js"></script>
    <script src="~/assets/plugins/bootstrap-progressbar/js/bootstrap-progressbar.js"></script>
    <script src="~/assets/plugins/bootstrap-select/bootstrap-select.js"></script>
    <script src="~/assets/plugins/bootstrap-bootbox/bootbox.min.js"></script>
    <script src="~/assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
    <script src="~/assets/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>
    <script src="~/assets/plugins/bootstrap-wizard/js/bootstrap-wizard-combi.js"></script>
    <script src="~/assets/plugins/bootstrap-image-gallery/js/bootstrap-image-gallery.min.js"></script>


    <!-- Plugins Custom - Only example -->
    <script src="~/assets/plugins/pl-extension/google-code-prettify/prettify.js"></script>
    <!-- Plugins Custom - System -->
    <script src="~/assets/plugins/pl-system/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/assets/plugins/pl-system/xbreadcrumbs/xbreadcrumbs.js"></script>
    <!-- Plugins Custom - System info -->
    <script src="~/assets/plugins/pl-system-info/qtip2/dist/jquery.qtip.min.js"></script>
    <script src="~/assets/plugins/pl-system-info/gritter/js/jquery.gritter.min.js"></script>
    <script src="~/assets/plugins/pl-system-info/notyfy/jquery.notyfy.js"></script>
    <!-- Plugins Custom - Content -->
    <script src="~/assets/plugins/pl-content/list/js/list.min.js"></script>
    <script src="~/assets/plugins/pl-content/list/plugins/list.paging.min.js"></script>
    <script src="~/assets/plugins/pl-content/jpages/js/jPages.js"></script>
    <!-- Plugins Custom - Component -->
    <script src="~/assets/plugins/pl-component/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/assets/plugins/pl-component/rangeslider/jqallrangesliders.min.js"></script>
    <!-- Plugins Custom - Form -->
    <script src="~/assets/plugins/pl-form/uniform/jquery.uniform.min.js"></script>
    <script src="~/assets/plugins/pl-form/select2/select2.min.js"></script>
    <script src="~/assets/plugins/pl-form/counter/jquery.counter.js"></script>
    <script src="~/assets/plugins/pl-form/elastic/jquery.elastic.js"></script>
    <script src="~/assets/plugins/pl-form/inputmask/jquery.inputmask.js"></script>
    <script src="~/assets/plugins/pl-form/inputmask/jquery.inputmask.extensions.js"></script>
    <script src="~/assets/plugins/pl-form/validate/js/jquery.validate.min.js"></script>
    <script src="~/assets/plugins/pl-form/duallistbox/jquery.dualListBox.min.js"></script>
    <!-- Plugins Custom - Gallery -->
    <script src="~/assets/plugins/pl-gallery/nailthumb/jquery.nailthumb.1.1.min.js"></script>
    <script src="~/assets/plugins/pl-gallery/nailthumb/showLoading/js/jquery.showLoading.min.js"></script>
    <script src="~/assets/plugins/pl-gallery/wookmark/jquery.imagesloaded.js"></script>
    <script src="~/assets/plugins/pl-gallery/wookmark/jquery.wookmark.min.js"></script>

    <!-- Plugins Tables -->
    <script src="~/assets/plugins/pl-table/datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/pl-table/datatables/plugin/jquery.dataTables.plugins.js"></script>
    <script src="~/assets/plugins/pl-table/datatables/plugin/jquery.dataTables.columnFilter.js"></script>

    <!-- Plugins data visualization -->
    <script src="~/assets/plugins/pl-visualization/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/assets/plugins/pl-visualization/easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/assets/plugins/pl-visualization/percentageloader/percentageloader.min.js"></script>
    <script src="~/assets/plugins/pl-visualization/flot/jquery.flot.js"></script>
    <script src="~/assets/plugins/pl-visualization/flot/jquery.flot.categories.js"></script>
    <script src="~/assets/plugins/pl-visualization/flot/jquery.flot.grow.js"></script>
    <script src="~/~/assets/plugins/pl-visualization/flot/jquery.flot.orderBars.js"></script>
    <script src="~/assets/plugins/pl-visualization/flot/jquery.flot.pie.js"></script>
    <script src="~/assets/plugins/pl-visualization/flot/jquery.flot.resize.js"></script>
    <script src="~/assets/plugins/pl-visualization/flot/jquery.flot.selection.js"></script>
    <script src="~/assets/plugins/pl-visualization/flot/jquery.flot.stack.js"></script>
    <script src="~/assets/plugins/pl-visualization/flot/jquery.flot.stackpercent.js"></script>
    <script src="~/assets/plugins/pl-visualization/flot/jquery.flot.time.js"></script>

    <!-- main js -->
    <script src="~/assets/js/core.js"></script>
    <script src="~/assets/js/application.js"></script>

    <!-- Only This Demo Page -->
    <script src="~/assets/js/demo/demo-jquery.dataTables.js"></script>

</body>
</html>
